[submodule "src/protected/application/plugins/MultipleLocalAuth"]
	path = src/protected/application/plugins/MultipleLocalAuth
	url = https://github.com/mapasculturais/plugin-MultipleLocalAuth
	branch = master
[submodule "src/protected/application/plugins/Recourse"]
	path = src/protected/application/plugins/Recourse
	url = https://github.com/secultce/plugin-Recourse.git
	branch = main
[submodule "src/protected/application/themes/Ceara"]
	path = src/protected/application/themes/Ceara
	url = https://github.com/secultce/theme-Ceara.git
	branch = master
[submodule "src/protected/application/plugins/OpinionManagement"]
	path = src/protected/application/plugins/OpinionManagement
	url = https://github.com/secultce/plugin-OpinionManagement.git
	branch = main
[submodule "src/protected/application/plugins/Accessibility"]
	path = src/protected/application/plugins/Accessibility
	url = https://github.com/govce/plugin-Accessibility.git
	branch = master
[submodule "src/protected/application/plugins/LocationStateCity"]
	path = src/protected/application/plugins/LocationStateCity
	url = https://github.com/secultce/plugin-LocationStateCity.git
	branch = main
[submodule "src/protected/application/plugins/EditOpportunityType"]
	path = src/protected/application/plugins/EditOpportunityType
	url = https://github.com/secultce/plugin-EditOpportunityType
	branch = main
[submodule "src/protected/application/plugins/PublicConsultation"]
	path = src/protected/application/plugins/PublicConsultation
	url = https://github.com/secultce/plugin-PublicConsultation.git
	branch = main
