//
// Control panel
// --------------------------------------------------

//** These classes are also used on pages

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
.panel-body {
    padding: 15px;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.panel-heading>.dropdown .dropdown-toggle {
    color: inherit;
}
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}
.panel-title>a,
.panel-title>small,
.panel-title>.small,
.panel-title>small>a,
.panel-title>.small>a {
    color: inherit;
}
.panel-footer {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.panel>.list-group,
.panel>.panel-collapse>.list-group {
    margin-bottom: 0;
}
.panel>.list-group .list-group-item,
.panel>.panel-collapse>.list-group .list-group-item {
    border-width: 1px 0;
    border-radius: 0;
}
.panel>.list-group:first-child .list-group-item:first-child,
.panel>.panel-collapse>.list-group:first-child .list-group-item:first-child {
    border-top: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.panel>.list-group:last-child .list-group-item:last-child,
.panel>.panel-collapse>.list-group:last-child .list-group-item:last-child {
    border-bottom: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.panel>.panel-heading+.panel-collapse>.list-group .list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.panel-heading+.list-group .list-group-item:first-child {
    border-top-width: 0;
}
.list-group+.panel-footer {
    border-top-width: 0;
}
.panel-default {
    border-color: #ddd;
}
.panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}
.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #ddd;
}
.panel-default>.panel-heading .badge {
    color: #f5f5f5;
    background-color: #333;
}
.panel-default>.panel-footer+.panel-collapse>.panel-body {
    border-bottom-color: #ddd;
}
.info-evaluation-panel {
    color: #878484;
    font-size: 10px;
    -webkit-box-shadow: 10px 10px 13px -1px rgba(0, 0, 0, 0.36);
    -moz-box-shadow: 5px 5px 7px -1px rgba(0, 0, 0, 0.36);
    padding: 3px;
    border-radius: 5px;
    border: 1px solid #c3c3c3;
}
.btn-views-registrations {
    border-radius: 5px;
    padding: 0 0.23333rem;
    height: 30px;
    font-size: 10px;
}
.panel-main-content {
    position: relative;
    box-sizing: border-box;
    background: #fff;
    border-radius: 0 0 $border-radius-base $border-radius-base;
    padding: $padding-base;
    @media screen and (min-width: $screen-tablet) {
        float: left;
        padding: 2rem;
        margin-bottom: 4rem;
        width: 75%;
    }
    @media screen and (min-width: $screen-lg-desktop) {
        width: 60%;
        padding: 4rem;
    }
    @media print {
    	width: 100%;
    	padding: $padding-large;
    }
    
    div.version {
        font-size: 0.8rem;
        color: #ccc;
        position: absolute;
        bottom: 5px;
        right: 5px;
    }
}
.panel-header {
    h2 {
        font-size: 1.5rem;
        line-height: 1;
        text-align: center;
        @media screen and (min-width: $screen-tablet) {
            float: left;
            text-align: left;
        }
    }
    .btn {
        display: none;
        float: right;
        margin: .5rem 0;
        @media screen and (min-width: $screen-tablet) {
            display: inline-block;
        }
    }
}
.panel-list .objeto h1 .icon {
    width: $line-height-base;;
    height: $line-height-base;;
    margin-right: 0;
    background: #fff;
    border-radius: $border-radius-base;
    font-size: $font-size-base;
    line-height: $line-height-base;
    color: #999;
    border: 1px solid #ddd;
    text-align: center;
    &:hover {
        color: $brand-accent;
    }
    &.active, &.active:hover {
        color: #fff;
        background: $brand-accent;
        border: 1px solid $brand-accent;
    }

}
.panel-list .objeto-meta {
    margin-bottom: $line-height-half;
    padding-top: 0;
    border-top: 0;
    div {
             box-sizing: border-box;
        -moz-box-sizing: border-box;
        margin-right: 5px;
        @media screen and (min-width: $screen-tablet) {
            display: inline-block;
        }
    }
}

.sidebar-panel {
    display: none;
    @media screen and (min-width: $screen-tablet) {
        display: block;
        position: relative;
        float: left;
        box-sizing: border-box;
        width: 25%;
        padding: $padding-base;
    }
    @media screen and (min-width: $screen-lg-desktop) {
        width: 20%;
        padding: $padding-large;
    }
}

.panel-app-form {
    input.txt {
        width: 88%;
        
        &.small {
            font-size: 11px;
            font-family: monospace;
        }
    }
}

ul.panel-settings { 
    //margin: 90px -65px -110px -65px;

    li {
        float:right; 
        margin:1em; 
        font-size: 12px; 
        list-style: none
    }
}
    