.my-terms {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  i {
    color: #72f3e6;
    margin-right: 7px;
    font-size: 16px;
    cursor: pointer;
  }

  .terms-submenu {
    display: none;
    position: absolute;
    background: #085e55;
    border: 1px solid #86a5c4;
    z-index: 1;
    left: -12vw;
    top: 0;
    list-style-type: none;

    li {
      margin: 5px 0;
    }
  }
}
