/* ajax uploader */
.js-ajax-upload-progress {
    margin-bottom: 10px;
}
.js-ajax-upload-progress .progress {
    position: relative;
    width: 100%;
    padding: 1px;
    border-radius: 3px;
         box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.js-ajax-upload-progress .bar {
    background: #cfc;
    border-color: #a6dfa6;
    color: $brand-success;
    height: 24px;
    border-radius: 3px;
}
.js-ajax-upload-progress .percent {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 48%;
}
.js-ajax-upload-progress .inactive .percent,
.js-ajax-upload-progress .inactive .progress,
.js-ajax-upload-progress .inactive .bar {
    display: none;
}
.consent-box {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  margin-top: 6px;

  input[type="checkbox"] {
    margin-top: 3px;
    flex-shrink: 0;
  }

  label {   
    display: block;
    line-height: 1.4;
    text-align: justify;
    hyphens: auto;
  }
}