.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

.table-bordered {

    thead th {
        border-bottom-width: 2px;
    }

    th,
    td {
        border: 1px solid #dee2e6;
    }
}
