version: '2'
services:
  mapas:
    build:
      context: ../
      dockerfile: compose/local/Dockerfile
    ports:
      - "8088:80"
    networks:
      - lab
    volumes:
      - ../src/protected:/var/www/html/protected
      - ../scripts:/var/www/scripts
      - ../compose/config.php:/var/www/html/protected/application/conf/config.php
      - ../compose/local/config.d:/var/www/html/protected/application/conf/config.d
      - ../docker-data/assets:/var/www/html/assets
      - ../docker-data/public-files:/var/www/html/files
      - ../docker-data/private-files:/var/www/private-files
      - ../tests:/var/www/tests
    links:
      - db
      - redis
      - sessions
    environment:
      - PENDING_PCACHE_RECREATION_INTERVAL=5
      - JOBS_INTERVAL=5
      - REDIS_CACHE=redis
      - ACTIVE_THEME=Ceara
      - SESSIONS_SAVE_PATH=tcp://sessions:6379
      - MAILER_SERVER=mailhog
      - MAILER_PORT=1025
      - MAILER_FROM=sysadmin@localhost
      - MAIL_MAILER=smtp
      - MAIL_HOST=mailpit
      - MAILER_PROTOCOL= #precisa ficar vazio para o mailpit funcionar
      - RABBITMQ_HOST=ip_maquina_ou_nome_servico # Endereço do RabbitMQ
      - RABBITMQ_PORT=5672
      - RABBITMQ_USER=mqadmin
      - RABBITMQ_PASSWORD=Admin123XX_
      - RABBITMQ_VHOST=/
      - RABBITMQ_EXCHANGE_DEFAULT=exchange_notification
      ## FILAS
      - QUEUE_OPINION_MANAGEMENT=queue_opinion_management
      - QUEUE_PUBLISHED_RECOURSES=queue_published_recourses
      - QUEUE_IMPORT_REGISTRATION=queue_import_registration
      - QUEUE_ACCOUNTABILITY=queue_accountability
      - QUEUE_IMPORT_REGISTRATION_DRAFT=queue_import_registration_draft
      ## CHAVES DAS MENSAGENS
      - MODULE_IMPORT_REGISTRATION_DRAFT=module_import_registration_draft
      - MODULE_ACCOUNTABILITY_ADM=module_accountability_adm
      - MODULE_ACCOUNTABILITY_PROPONENT=module_accountability_proponent
      - PLUGIN_PUBLISHED_RECOURSES=plugin_published_recourses
      # chaves de teste do google recaptcha
      - GOOGLE_RECAPTCHA_SITEKEY=6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI
      - GOOGLE_RECAPTCHA_SECRET=6LeIxAcTAAAAAGG-vFI1TnRWxMZNFuojJ4WifJWe
      - ACCESS_TOKEN_API_EMAIL= # Gerar token na api do email (https://github.com/secultce/api-email)
      - SECULT_SEAL_ID=
      - URL_SITE_EDITAIS=
      - QUOTA_SERVICE_BASE_URL=quota-service:9501/api/v1
      - SENTRY_DSN=https://dc2a046285a0767ee27902ea99506adc@o4508121592102912.ingest.us.sentry.io/4508160344915968
      - APP_ENV=development
      - APP_VERSION=5.8.11
      - MAX_NUMBER_LINKS= # Número máximo de links que o proponente pode adicionar em uma inscrição
    depends_on:
      - db
      - redis
      - mailhog
      - sessions

    stdin_open: true
    tty: true
    
  mailhog: 
    image: mailhog/mailhog
    ports:
      # - "1025:1025"
      - "8025:8025"
    networks:
      - lab
  redis:
    image: redis:6
    command: --maxmemory 256Mb --maxmemory-policy allkeys-lru  
    networks:
      - lab 

  sessions:
    image: redis:6
    command: --maxmemory 384Mb --maxmemory-policy allkeys-lru
    restart: unless-stopped
    volumes:
      - ./docker-data/sessions:/data
    networks:
      - lab
      
  db:
    image: postgis/postgis:14-master
    environment:
      - POSTGRES_PASSWORD=mapas
      - POSTGRES_USER=mapas
      - POSTGRES_DB=mapas
    ports:
      - "5432:5432"
    networks:
      - lab
    volumes:
      - ../db:/docker-entrypoint-initdb.d
      - ../docker-data/db-data:/var/lib/postgresql/data

networks:
  lab:
    external: true
